
/*//////////////////////////////// PAGE COLORS /////////////////////////////////
Dark Blue: #012d41
Teal 1: #56c0cc
Teal 2: #1ca5b8
Light Blue: #daecf3
Red: #ff404e
*/

body{
    background: #f2f2f2;
    font-family: 'Open Sans', sans-serif !important;
}

.container {
    width: 100%;
    background-color: #f2f2f2;
    margin: 20px auto;
    padding: 20px;
}

.col {
    text-align: center;
    margin-top: 30px;
}

.col img {
    width: 400px;
}

.footer {
    position: absolute;
    bottom: 0%;
    margin: 0px auto;
    background-color: #daecf3;
    width: 100%;
    height: 90px;
    z-index: 0;
    text-align: center;
    padding: 20px;
}

.input-field {
    width: 400px;
    margin: 100px auto;
    background-color: #fff;
}

.input-field input[type=search] {
    text-align: center;
}

.input-field input[type=search]:focus {
    border-bottom: 3px solid #ff404e !important;
    color: #012d41;
    text-align: center;
}
.material-icons {
    top: 8px !important;
}

/*//////////////////////////////// PAGE BORDERS /////////////////////////////////*/

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*Borders*/
#top, #bottom, #left, #right {
	background: #012d41;
	position: fixed;
    z-index: 1;
	}
#left, #right {
    top: 0; bottom: 0;
    width: 15px;
}
#left {
    left: 0; 
}
#right {
    right: 0; 
}
		
#top, #bottom {
    left: 0; right: 0;
    height: 15px;
}
#top {
    top: 0; 
}
#bottom {
    bottom: 0; 
}

@media 

/* Fairly small screens including iphones */
only screen and (max-width: 500px),

/* iPads */
only screen and (min-device-width: 768px) and (max-device-width: 1024px) 

{
	#top, #bottom, #left, #right { display: none; }
}