
/*//////////////////////////////// PAGE COLORS /////////////////////////////////
Dark Blue: #012d41
Teal 1: #56c0cc
Teal 2: #1ca5b8
Light Blue: #daecf3
Red: #ff404e
Very Light Grey: #fcfcfc;
Medium Grey: #f2f2f2;
*/

/*//////////////////////// GLOBAL BODY STYLES ////////////////////////////////*/

html, body{
    background-color: #fcfcfc !important;
    font-family: 'Open Sans', sans-serif !important;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

 main {
    flex: 1 0 auto;
  }

/* Links */
a {
    color: #56c0cc;
}
a:hover {
    color: #1ca5b8;
}

/* Container */
.container {
    width: 100% !important;
}

/* Footer styles */

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 70px;
    width: 100%;
    margin: 0px auto;
    padding: 10px 40px;
    overflow: hidden;
    background-color: #f2f2f2 !important;
    z-index: 0;
    text-align: left;
    font-weight: 300;
    color: #012d41;
    font-size: 120%;
}

.footer-text {
    display: inline;
    line-height: 25px;
}
.copyright {
    float: left;
    font-weight: 300;
}
.top-artists {
    float: right;
}



/*//////////////////////////////// INDEX BODY STYLES ////////////////////////////////*/

/* Index page search bar styles */
.center {
    width: 400px;
    margin: 100px auto;
    background-color: #fff;
}


/* Styles for the index page logo */
.logo {
    text-align: center;
    margin-top: 30px;
}
.logo img {
    width: 400px;
}

/* Index page container */
.index-search {
    width: 100%;
    background-color: #fcfcfc;
    margin: 20px auto;
    padding: 20px;
}



/*//////////////////////////////// FRESH / TOP BODY STYLES ////////////////////////////////*/

/* Navigation */
.navigation {
    width: 100%;
    padding: 20px;
}

/* Logo */
.logo-right {
    float: right;
    margin: 10px 30px;
}
.logo-right img {
    width: 200px;
}
.top-left {
    margin: 10px 5px;
    width: 300px;
}

/* Search bar */
.input-field input[type=search] {
    text-align: center;
    font-weight: 700;
    background-color: #fff;
}
.input-field input[type=search]:focus {
    border-bottom: 3px solid #ff404e !important;
    color: #012d41;
    text-align: center;
}
.material-icons {
    top: 8px !important;
}

.content {
    margin: 0 auto;
}

.artistdetails {
    border: 1px solid red;
    padding: 20px !important;
    margin: 20px;
}

/*//////////////////////////////// PAGE BORDERS-Please don't touch. /////////////////////////////////*/

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*Borders*/
#top, #bottom, #left, #right {
	background: #012d41;
	position: fixed;
    z-index: 1;
	}
#left, #right {
    top: 0; bottom: 0;
    width: 15px;
}
#left {
    left: 0; 
}
#right {
    right: 0; 
}
		
#top, #bottom {
    left: 0; right: 0;
    height: 15px;
}
#top {
    top: 0; 
}
#bottom {
    bottom: 0; 
}

@media 

/* Fairly small screens including iphones */
only screen and (max-width: 500px),

/* iPads */
only screen and (min-device-width: 768px) and (max-device-width: 1024px) 

{
	#top, #bottom, #left, #right { display: none; }
}