 <!--Main Navigation // Shows initially-->
    <div class="container">
        <div class="row homeSearch"> <!-- class updated by Amy for clarification -->
            <div class="logo col s12">
                <img src="/img/logo.png" style="width: 300px;">
            </div>
            <div class="content col s12">
                <div id="mainSearch" class="input-field z-depth-1 center">
                  <input id="user-input-main" type="search" required>
                    <label class="label-icon" for="search" class="active">
                        <i class="material-icons">search</i> 
                    </label>
                  <i class="material-icons">close</i>
                </div>
            </div>
        </div>

<!--Top Navigation // Shows after a main page search has been done-->
    <div class="nav-wrapper topNav"> <!-- class updated by Amy for clarification -->
        <a href="/" class="logo-right"><img src="/img/logo.png"></a>
        <div id="topSearch" class="input-field z-depth-1">
              <input id="user-input-top" type="search" required>
                <label class="label-icon" for="search" class="active">
                    <i class="material-icons">search</i> 
                </label>
              <i class="material-icons">close</i>
        </div>
    </div>


        <!--Fan Page Content-->
        <div id="fanpage" class="container">
            <div class="row">
                <a id="favorite" class="btn-floating btn-large transparent z-depth-0">
                    <i class="large material-icons">favorite_border</i>
                </a>
                <div id="artistPhoto" class="artistdetails col s12">
                </div>
                <div id="artistName" class="artistdetails col s12">
                    artistName
                </div>
            </div>
            <div class="row">
                <div class="artistdetails col s12 artist-bio">
                    <p class="bold">About</p>
                    <p id="artistBio">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent cursus pharetra turpis, in elementum dolor viverra in. Etiam tincidunt nisi in egestas feugiat. Donec tincidunt eget ex quis gravida. Sed ac enim enim. Suspendisse id tellus in nulla tristique tempor. Ut hendrerit efficitur vestibulum. Maecenas fermentum ut nibh at pellentesque.

                    Sed ac consequat turpis. Donec id neque non ligula tristique ullamcorper in vel mi. Donec sed tincidunt enim, in vestibulum metus. Nulla id mattis justo. Praesent viverra porttitor sem, eu dapibus dui lobortis sed. Vivamus mollis nunc id leo ultrices ullamcorper. Nam aliquam viverra orci, nec ultricies metus scelerisque vel. Quisque pretium, lectus vitae aliquam dapibus, erat libero pellentesque sapien, non iaculis mi nisl dapibus quam.

                    Donec rutrum orci dapibus, convallis tortor in, porttitor diam. Phasellus auctor velit sit amet enim hendrerit pharetra. Sed ut lacus sodales, tempor felis ut, venenatis urna. Fusce orci eros, pulvinar id fringilla id, sodales non mi. Pellentesque ac mi quis odio rhoncus ullamcorper. Maecenas tempus sapien augue, sit amet lobortis magna tristique ac. Morbi in lectus vitae lectus interdum tincidunt nec nec ex. Phasellus elementum laoreet elementum. Duis a eros libero.</p>
                </div>
            </div>
            <div class="row">
                <div id="additionalContent" class="artistdetails col s10">
                    additionalContent
                </div>
            </div>
            <div class="row">
                <div id="albumList" class="artistdetails col s10">
                    List of artist albums
                </div>
            </div>
        </div>
    </div>