<!--Main Content-->
            <div class="container body-content">
                <div class="row sign-up-page">
                        <a href="/"><img src="/img/logo.png" style ="width: 300px;"></a>
                        <br><br>
                        <h1 class="bigText">Fresh
                        <span id="flipper">Post Malone</span>
                        <br>Just for You!</h1>
                        <br>
                        <p>Listen to your favorite artists'
                        hottest new songs and keep up to date on all their latest news, concerts, and albums all for free!</p>
                        <br>
                        <a id="sign-up" class="waves-effect waves-light btn modal-trigger" href="#sign-up-form">Sign Up!</a>
                        <br>
                        <br>
                        <a id="log-in" class="waves-effect waves-light btn">Log In</a> 
                </div>
                <div class="row graphics">
                        <img class="iphone" src="img/iphoneapp.png">
                        <img class="desktop" src="img/desktopapp.png">
                </div>
            </div>

            <div id="sign-up-form" class="modal">
                <div class="modal-content">
                  <div class="bigText">Sign Up</div>
                  <div class="row">
                    <form class="col s12">
                      <div class="row">
                        <div class="input-field col s6">
                          <input id="first_name" type="text" class="validate">
                          <label for="first_name">First Name</label>
                        </div>
                        <div class="input-field col s6">
                          <input id="last_name" type="text" class="validate">
                          <label for="last_name">Last Name</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s12">
                          <input id="email" type="email" class="validate">
                          <label for="email">Email</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s12">
                          <input id="password" type="password" class="validate">
                          <label for="password">Password</label>
                        </div>
                      </div>
                    </form>
                    </div>
                </div>
                <div class="modal-footer">
                  <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Submit</a>
                </div>
            </div>
