
                        <img class="iphone" src="img/iphoneapp.png">
                        <img class="desktop" src="img/desktopapp.png">

<!--Main Content-->
            <div class="container body-content">
                <div class="row sign-up-page">
                        <a href="/"><img src="/img/logo.png" style ="width: 300px;"></a>
                        <br><br>
                        <h1 class="bigText">Fresh
                        <span id="flipper">Post Malone</span>
                        <br>Just for You!</h1>
                        <br>
                        <p>Listen to your favorite artists'
                        hottest new songs and keep up to date on all their latest news, concerts, and albums all for free!</p>
                        <br>
                        <a id="signUp" class="waves-effect waves-light btn modal-trigger" href="#signUpForm">Sign Up!</a>
                        <br>
                        <br>
                        <a id="logIn"  class="waves-effect waves-light btn modal-trigger" href="#logInForm">Log In</a> 
                </div>
            </div>

            <!--MODAL FOR LOGGING IN-->
            <div id="logInForm" class="modal">
                <div class="modal-content">
                  <div class="bigLobsterText">Welcome Back!</div>
                  <div class="row">
                    <form class="col s12">
                      <div class="row">
                        <div class="input-field col s12">
                          <input id="email" type="email" class="validate">
                          <label for="email">Email</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s12">
                          <input id="password" type="password" class="validate">
                          <label for="password">Password</label>
                        </div>
                      </div>
                        <a id="submitSignUp" class="modal-action modal-close waves-effect waves-light btn" href="#!">Submit</a>
                    </form>
                    </div>
                </div>
                <div class="modal-footer">
                </div> 
            </div>

            <!-- MODAL FOR SIGNING UP-->
            <div id="signUpForm" class="modal">
                <div class="modal-content">
                  <div class="bigLobsterText">Sign Up</div>
                  <div class="row">
                    <form class="col s12">
                      <div class="row">
                        <div class="input-field col s6">
                          <input id="firstName" type="text" class="validate">
                          <label for="firstName">First Name</label>
                        </div>
                        <div class="input-field col s6">
                          <input id="lastName" type="text" class="validate">
                          <label for="lastName">Last Name</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s12">
                          <input id="email" type="email" class="validate">
                          <label for="email">Email</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s12">
                          <input id="password" type="password" class="validate">
                          <label for="password">Password</label>
                        </div>
                      </div>
                        <a id="submitSignUp" class="modal-action modal-close waves-effect waves-light btn" href="#!">Submit</a>
                    </form>
                    </div>
                </div>
                <div class="modal-footer">
                </div>
                
    
            
