<!--Top Navigation-->
            <div class="container navigation-bar">
                <div style="display: block;" class="row top-search">
                    <div class="logo-right">
                        <a href="/"><img src="/img/logo.png"></a>
                    </div>
                </div>
            </div>
            
            <!--Favorite Artists Table-->
             <div class="container table-box">
                <div class="row">
                    <table class="bordered">
                        <thead>
                          <tr>
                              <th>Ranking</th>
                              <th>Artist Name</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td class="bold">1</td>
                            <td id="first">None</td>
                          </tr>
                          <tr>
                            <td class="bold">2</td>
                            <td id="second">None</td>
                          </tr>
                          <tr>
                            <td class="bold">3</td>
                            <td id="third">None</td>
                          </tr>
                          <tr>
                            <td class="bold">4</td>
                            <td id="fourth">None</td>
                          </tr>
                          <tr>
                            <td class="bold">5</td>
                            <td id="fifth">None</td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>